# Exercise 3: Lists and Slicing

## Aim: Introduce lists and their methods.

### Issues covered:
 - Creating a list
 - Indexing and slicing lists
 - Using methods on lists
 - Using built-in `dir()` and `help()` functions to interrogate objects
 - Reading from standard input

## 1. Let's create a simple list and play with it.

Create a list `x` containing integers: `1, 2, 3, 4, 5`

In [32]:
x = [1, 2, 3, 4, 5]

Use list indexing to select the second item in the list.

In [34]:
x[1]

2

Use list indexing to select the second to last item in the list.

In [35]:
x[-2]

4

Use list slicing to select the whole list.

In [36]:
x[:]

[1, 2, 3, 4, 5]

Use list slicing to select the second to the fourth item (inclusive) in the list.

In [13]:
x[1:4]

[2, 3, 4]

## 2. Let's create a list from a range and play with it.

Create a list `y` with values from `1` to `10` (use the `range()` function).

In [65]:
y = list(range(1, 11))
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Replace the first item in the list with the value `10`.

In [60]:
y[0] = 1

Append the number `11` to the list.

In [67]:
y.append(11)
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

Add another list `([12, 13, 14])` to the list using the `extend` method.

In [68]:
y.remove(11)
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [69]:
y.extend([12, 13, 14])
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## 3. Letâ€™s combine lists and loops and explore some list methods.

Create two empty lists called `forward` and `backward`.

In [1]:
forward = []
backward = []

Create a variable called `values` and assign it the list: `["a", "b", "c"]`

In [2]:
values = ["a", "b", "c"]

Create a `for` block to loop over each item in "values".
Inside the loop: 

 - Append each value to the list called `forward`.
 - Insert the same value to the front of the list called `backward`.

On exiting the loop print the values of `forward` and `backward`.

In [3]:
for item in values:
    forward.append(item)
    backward.insert(0, item)
    
print("Forward is:", forward)
print("Backward is:", backward)

Forward is: ['a', 'b', 'c']
Backward is: ['c', 'b', 'a']

Reverse the order of `forward`.

In [4]:
forward.reverse()

Check that `forward` and `backward` are the same.

print(forward == backward)

## 4. Let's find out what else you can do with a list.

Create a list named `countries` as follows: `["uk", "usa", "uk", "uae"]`

In [7]:
countries = ["uk", "usa", "uk", "uae"]
countries

['uk', 'usa', 'uk', 'uae']

Use `dir(countries)` to display the properties and methods of the list.

Print the documentation on the `count` method of the list using `help(countries.count)`.

Now use that method to count the number of times `"uk"` appears in the list `countries`.